h1 {
                background-color: rgb(132, 235, 235);
            }
            #info {
                color: rgb(18, 86, 224);
            }
            .advantages {
                background-color: rgb(142, 232, 196);
            }